*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x:hidden;
    background-color: #f1f5f8;
}
#navbar{
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color: black;
    height:60px;
}
.nav-heading a{
    color:greenyellow;
    margin:0 4px;
    text-decoration: none;
}
.options ul li{
    display:inline-block;
    list-style: none;
    margin:0 28px;
    font-size: 1.2rem;
}

.options ul li a{
    text-decoration: none;
    color:hotpink;
}
main{
    display: flex;
justify-content: center;
align-items: center;
}
.container{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 21vh;
background-color: black;
border-radius: 62px;
width: 60vw;
padding: 33px;
    color: white;

}
.color{
    color: skyblue;
}
#btn{
    margin: 22px 0;
padding: 8px;
color: white;
border: 2px solid white;
cursor: pointer;
background-color: black;
}
#btn:hover{
    color:yellow;
    border:2px solid yellow;
}
/* footer{
    height:10vh;
}
img{
    width:10vh;
} */